* {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #595358;
}

#main-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373336;
    height: 10vh;
    width: 100vw;
    border-bottom: 2px solid white;
    box-shadow: 5px 5px 30px black;

    #header-left {
        width: 20%;
        display: flex;

        img {
        height: 200px;
        width: 200px;
        }
    }

    #header-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;

        input {
            background-color:#F2F4F3;
            height: 5vh;
            width: 30vw;
            border: 1px solid black;
            border-radius: 20px;
        }
    }

    #header-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 20%;

        img {
            height: 100px;
            width: 100px;
        }
    }


}

#User-div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: 2px solid white;
    box-shadow: 5px 5px 30px black;


    #profile-pic {
        margin: 10px 10px;
        height: 200px;
        width: 200px;
    }

    #user-bio {
        display: flex;
        height: 30vh;
        width: 80vw;
        gap: 20px;

        #bio-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 50%;
            margin: 10px 10px;          

        }

        #bio-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            font-weight: bold;
            /* gap: 12px; */
            width: 50%;
            margin: 10px 10px;
            overflow: auto;

            .social {
                display: flex;
                justify-content: center;
                align-items: centerd;
            }

            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}

#roster-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 25vh;
    border: 5px solid black;
    box-shadow: 5px 5px 30px black;

    #roster-heading {
        display: flex;
        height: 20%;
        justify-content: center;
        font-size: 20px;
    }

    #roster-contents {
        display: flex;
        justify-content: space-evenly;
        height: 80%;

        .roster-member {
            height: 100%;
            overflow: auto;
            font-weight: bold;
            color: white;

            img {
                height: 100px;
                width: 100px;
                border: 2px solid white;
                box-shadow: 5px 5px 30px black;
                margin-top: 10px;
            }
        }
    }
}


#second-layer {
    display: flex;
    gap: 20px;

    #schedule-div {
        display: flex;
        flex-direction: column;
        width: 15%;
        height: 50vh;
        border: 5px solid black;
        box-shadow: 5px 5px 30px black;
        overflow: auto;

        #schedule-heading {
            text-align: center;
            border-bottom: 2px solid black;

            p {
                font-size: 20px;
            }
        }

        #schedule-days {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 13px;
            margin-top: 10px;
            margin-left: 5px;
        }
    }
}